@use 'utils' as *;

.access-denied {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: rem(40);
  text-align: center;
  position: relative;
  background: var(--ui-bg);
  color: var(--ui-text);

  &__watermark {
    font-size: rem(160);
    color: var(--status-p0);
    opacity: 0.1;
    position: absolute;
    user-select: none;
    pointer-events: none;
  }

  &__content {
    z-index: 5;
  }

  &__title {
    color: var(--status-p0);
    font-size: 2.5rem;
    margin-bottom: rem(20);
  }

  &__description {
    font-size: 1.2rem;
    margin-bottom: rem(20);
    line-height: 1.5;

    strong {
      color: var(--status-p0);
    }
  }

  &__ticket-id {
    color: var(--status-p3);
  }

  &__error-box {
    border: rem(1) solid var(--status-p0);
    padding: rem(20);
    background: var(--ui-bg-alt);
    display: inline-block;
    margin-bottom: rem(40);
    font-size: 0.9rem;
    line-height: 1.6;
    color: var(--status-p0);
  }
}
