@use 'utils' as *;

.how-to {
  display: flex; 
  flex-direction: column; 
  gap: rem(30);

  &__intro-section {
    margin-bottom: rem(20);
  }

  &__intro-text {
    color: var(--terminal-green);
    font-size: 1.1rem;
    line-height: 1.5;
  }

  &__section {
    margin-bottom: 0;
  }

  &__header {
    font-size: 1.2rem;
    color: var(--terminal-green);
    margin-bottom: rem(10);
    letter-spacing: rem(1);
  }

  &__text {
    font-size: rem(14);
    line-height: 1.6;
    margin-bottom: rem(10);

    b {
      color: var(--terminal-green);
    }
  }

  &__highlight-amber {
    color: var(--terminal-amber) !important;
  }

  &__highlight-red {
    color: var(--terminal-red) !important;
  }

  &__list {
    margin-top: rem(10); 
    padding-left: rem(20);
    line-height: 1.6;
  }
}
