@use 'utils' as *;
@use 'mixins' as *;

.technical-pane {
  height: 100%;
  background: var(--ui-bg);
  padding: rem(20);
  box-sizing: border-box;
  @include technical-typography;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  &__header {
    margin-bottom: rem(20);
    border-bottom: rem(2) solid var(--terminal-green);
    padding-bottom: rem(12);
    flex-shrink: 0;
  }

  &__label {
    font-size: 0.75rem; 
    opacity: 0.6; 
    font-weight: bold; 
    margin-bottom: rem(5);
    text-transform: uppercase;
    letter-spacing: rem(1);
  }

  &__title {
    font-size: 1.75rem; 
    margin: 0; 
    font-weight: 900; 
    letter-spacing: rem(2);
    text-transform: uppercase;
  }

  &__content {
    flex: 1;
  }

  &__footer {
    margin-top: rem(40);
    border-top: rem(1) dashed var(--ui-border);
    padding-top: rem(20);
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    gap: rem(20);
    opacity: 0.6;
    font-size: rem(10);
    text-transform: uppercase;
    font-weight: bold;

    &-col {
        display: flex;
        flex-direction: column;
        gap: rem(2);
        flex: 1;
    }

    &-label {
        color: var(--terminal-amber);
        opacity: 0.8;
    }

    &-value {
        color: var(--ui-text);
    }
  }
}
