@use 'utils' as *;

.terminal-logo {
  font-family: var(--font-mono);
  font-size: rem(8);
  line-height: 1;
  color: var(--terminal-green);
  margin-bottom: rem(30);
  white-space: pre;
  display: block;
  text-align: center;

  @media (max-width: 768px) {
    font-size: rem(4.5);
  }
}
